@charset "utf-8";

.u-header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -190px;
    left: 0;
    width: 540px;
    height: 180px;
    background-color: #d4d4d4;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    z-index: -1;
  }
  .u-logo {
    position: fixed;
    top: 60px;
    left: 60px;
    font-size: 12px;
    letter-spacing: 1.5px;
    transition: all 0.5s;
    z-index: 99;

    a {
      color: #141414;
    }
  }
  @media screen and (max-width: 789px) {
    &::after {
      top: -124px;
      height: 80px;
    }
    .u-logo {
      top: 35px !important;
      left: 28px !important;
    }
  }
}
.u-main {
  position: relative;

  .breadcrumbs {
    position: relative;
    top: -80px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    color: #141415;
    font-size: 12px;
    text-align: right;
  }
  section {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
  }
  .inner {
    margin: 180px 0;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .u-title {
    font-size: 48px;
    text-align: center;
    line-height: 32px;

    span {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 789px) {
    .breadcrumbs {
      display: none;
    }
    .inner {
      margin: 120px 0;
    }
  }
  /*======================
  作品
  =======================*/
  .u-works-title {
    font-size: 28px;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
  }
  .u-works {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    /*======================
    works.html
    =======================*/
    &__ul {
      display: flex;
      flex-wrap: wrap;
      margin: calc(-30px / 2);
      padding: 30px;
    }
    &__list {
      width: calc(100% / 3 - 30px);
      margin: 60px calc(30px / 2) 0;

      &--title {
        text-align: center;
        letter-spacing: 2px;
        font-size: 12px;
      }
    }
    .u-jisseki {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      .performance-pc {
        padding-top: 60px;
        font-size: 14px;

        .big {
          font-size: 20px;
        }
      }
      .attention {
        padding-top: 15px;
        font-size: 14px;
      }
      .sp567-only {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      &__list {
        width: calc(100% / 2 - 30px);
      }
    }
    @media screen and (max-width: 599px) {
      &__list {
        width: calc(100% / 1 - 30px);
      }
    }
    @media screen and (max-width: 567px) {
      .jisseki {
        .pc567-only {
          display: none !important;
        }
        .sp567-only {
          display: block !important;
          padding: 0 15px;
          box-sizing: border-box;
        }
      }
    }
    /*======================
    works-n.html
    =======================*/
    &__title {
      text-align: center;
      margin-top: 40px;

      h2 {
        font-size: 26px;
        font-weight: 400 !important;
        letter-spacing: 1.4px;
        font-weight: bold;
      }
      a {
        letter-spacing: 1.4px;
        font-size: 12px;
        word-wrap:break-word;
      }
    }
    &__img {
      margin: 60px auto;

      img {
        width: 100%;
      }
    }
    &__feature {
      width: 75%;
      margin: 0 auto;
      font-size: 14px;
      letter-spacing: 1.8px;
      line-height: 25px;
    }
    @media screen and (max-width: 789px) {
      &__img {
        margin: 40px auto;
      }
      &__feature {
        width: 100%;
        font-size: 12px;
      }
    }
    &__col-1 {
      margin: 60px auto 0 auto;
      text-align: center;
      font-size: 12px;

      .bold {
        display: block;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
      }
    }
    &__col-2 {
      margin: 30px auto 0 auto;
      text-align: center;
      font-size: 14px;

      .bold {
        display: block;
        margin-bottom: 12px;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  /*======================
  料金表
  =======================*/
  .price-section {
    text-align: center;

    .section-lead {
      margin-bottom: 100px;
    }
    .heading-primary {
      font-size: 48px;
    }
    .price-list {
      width: 50%;
      margin: 0 auto;
    }
    .price-item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
      margin: 0 15px 15px 0;
      border-bottom: 1px dotted black;
    }
    .price-note {
      margin-top: 100px;
      text-align: center;
    }
    @media screen and (max-width: 789px) {
      .price-list {
        width: 100%;
      }
      .price-note {
        font-size: 14px;
      }
    }
  }
  /*======================
  問い合わせ
  =======================*/
  .u-contact {
    .attention-box {
      border: 1px solid #141414;
      max-width: 600px;
      padding: 32px 20px;
      margin: 60px auto 40px auto;
      font-size: 14px;
    }
    @media screen and (max-width: 600px) {
      .attention-box {
        padding: 20px 10px;
        margin: 60px -10px 40px -5px;
        font-size: 12px;
      }
    }
    .attention-list {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    .wrapper {
      max-width: 600px;
      padding-top: 40px;
      margin: 0 auto;
    }
    .off-day {
      font-size: 24px;
      text-align: center;
      margin-bottom: 32px;
    }
    #c-header {
      font-size: 18px;
    }
    .c-box1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .c-check {
      display: flex;
      align-items: center;

      .c-1 {
        display: flex;
        align-items: center;
        span {
          display: block;
        }
      }
      .square {
        width: 12px;
        height: 12px;
        margin-right: 12px;
      }
      .square.today {
        background-color: #141414;
      }
      .square.off {
        background-color: #ae7a26;
      }
    }
    /*カレンダー*/
    #calendar {
      text-align: center;
      width: 100%;
      margin-bottom: 20px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th {
      color: #000;
    }
    th,
    td {
      border: 1px solid #ddd;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
    /*日曜日*/
    td:first-child {
      color: red;
    }
    /*土曜日*/
    td:last-child {
      color: blue;
    }
    /*前後月の日付*/
    td.disabled {
      color: #ccc;
    }
    /*本日*/
    td.today {
      background-color: #232321;
      color: #fff;
    }
    /*ボタン*/
    #next-prev-button {
      position: relative;
    }
    #next-prev-button button {
      cursor: pointer;
      color: #141414;
      border: 1px solid #141414;
      border-radius: 4px;
      font-size: 1rem;
      padding: 0.5rem 2rem;
      margin: 1rem 0;
      transition: all 0.5s;
    }
    #prev {
      float: left;
    }
    #next {
      float: right;
    }

    // 休日設定
    tr:nth-child(3) {
      td:nth-child(3) {
        background-color: #ae7a26;
        color: #fff;
      }
    }
    .c-attention {
      font-size: 14px;
    }
  }
}
/*======================
  フッター
  =======================*/
.u-footer {
  background-color: #fff;

  a {
    color: #141414 !important;
  }
  .copyright {
    color: #141414;
  }
}
