@charset "UTF-8";
.u-header {
  position: relative;
}

.u-header::after {
  content: "";
  position: absolute;
  top: -190px;
  left: 0;
  width: 540px;
  height: 180px;
  background-color: #d4d4d4;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  z-index: -1;
}

.u-header .u-logo {
  position: fixed;
  top: 60px;
  left: 60px;
  font-size: 12px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99;
}

.u-header .u-logo a {
  color: #141414;
}

@media screen and (max-width: 789px) {
  .u-header::after {
    top: -124px;
    height: 80px;
  }
  .u-header .u-logo {
    top: 35px !important;
    left: 28px !important;
  }
}

.u-main {
  position: relative;
  /*======================
  作品
  =======================*/
  /*======================
  料金表
  =======================*/
  /*======================
  問い合わせ
  =======================*/
}

.u-main .breadcrumbs {
  position: relative;
  top: -80px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  color: #141415;
  font-size: 12px;
  text-align: right;
}

.u-main section {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.u-main .inner {
  margin: 180px 0;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-main .u-title {
  font-size: 48px;
  text-align: center;
  line-height: 32px;
}

.u-main .u-title span {
  font-size: 14px;
}

@media screen and (max-width: 789px) {
  .u-main .breadcrumbs {
    display: none;
  }
  .u-main .inner {
    margin: 120px 0;
  }
}

.u-main .u-works-title {
  font-size: 28px;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
}

.u-main .u-works {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  /*======================
    works.html
    =======================*/
  /*======================
    works-n.html
    =======================*/
}

.u-main .u-works__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-30px / 2);
  padding: 30px;
}

.u-main .u-works__list {
  width: calc(100% / 3 - 30px);
  margin: 60px calc(30px / 2) 0;
}

.u-main .u-works__list--title {
  text-align: center;
  letter-spacing: 2px;
  font-size: 12px;
}

.u-main .u-works .u-jisseki {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.u-main .u-works .u-jisseki .performance-pc {
  padding-top: 60px;
  font-size: 14px;
}

.u-main .u-works .u-jisseki .performance-pc .big {
  font-size: 20px;
}

.u-main .u-works .u-jisseki .attention {
  padding-top: 15px;
  font-size: 14px;
}

.u-main .u-works .u-jisseki .sp567-only {
  display: none;
}

@media screen and (max-width: 1024px) {
  .u-main .u-works__list {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 599px) {
  .u-main .u-works__list {
    width: calc(100% / 1 - 30px);
  }
}

@media screen and (max-width: 567px) {
  .u-main .u-works .jisseki .pc567-only {
    display: none !important;
  }
  .u-main .u-works .jisseki .sp567-only {
    display: block !important;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.u-main .u-works__title {
  text-align: center;
  margin-top: 40px;
}

.u-main .u-works__title h2 {
  font-size: 26px;
  font-weight: 400 !important;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.u-main .u-works__title a {
  letter-spacing: 1.4px;
  font-size: 12px;
  word-wrap: break-word;
}

.u-main .u-works__img {
  margin: 60px auto;
}

.u-main .u-works__img img {
  width: 100%;
}

.u-main .u-works__feature {
  width: 75%;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1.8px;
  line-height: 25px;
}

@media screen and (max-width: 789px) {
  .u-main .u-works__img {
    margin: 40px auto;
  }
  .u-main .u-works__feature {
    width: 100%;
    font-size: 12px;
  }
}

.u-main .u-works__col-1 {
  margin: 60px auto 0 auto;
  text-align: center;
  font-size: 12px;
}

.u-main .u-works__col-1 .bold {
  display: block;
  margin-bottom: 12px;
}

.u-main .u-works__col-1 p {
  font-size: 14px;
}

.u-main .u-works__col-2 {
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 14px;
}

.u-main .u-works__col-2 .bold {
  display: block;
  margin-bottom: 12px;
}

.u-main .u-works__col-2 a:hover {
  text-decoration: underline;
}

.u-main .price-section {
  text-align: center;
}

.u-main .price-section .section-lead {
  margin-bottom: 100px;
}

.u-main .price-section .heading-primary {
  font-size: 48px;
}

.u-main .price-section .price-list {
  width: 50%;
  margin: 0 auto;
}

.u-main .price-section .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
  margin: 0 15px 15px 0;
  border-bottom: 1px dotted black;
}

.u-main .price-section .price-note {
  margin-top: 100px;
  text-align: center;
}

@media screen and (max-width: 789px) {
  .u-main .price-section .price-list {
    width: 100%;
  }
  .u-main .price-section .price-note {
    font-size: 14px;
  }
}

.u-main .u-contact {
  /*カレンダー*/
  /*日曜日*/
  /*土曜日*/
  /*前後月の日付*/
  /*本日*/
  /*ボタン*/
}

.u-main .u-contact .attention-box {
  border: 1px solid #141414;
  max-width: 600px;
  padding: 32px 20px;
  margin: 60px auto 40px auto;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .u-main .u-contact .attention-box {
    padding: 20px 10px;
    margin: 60px -10px 40px -5px;
    font-size: 12px;
  }
}

.u-main .u-contact .attention-list {
  margin-bottom: 12px;
}

.u-main .u-contact .attention-list:last-child {
  margin-bottom: 0;
}

.u-main .u-contact .wrapper {
  max-width: 600px;
  padding-top: 40px;
  margin: 0 auto;
}

.u-main .u-contact .off-day {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.u-main .u-contact #c-header {
  font-size: 18px;
}

.u-main .u-contact .c-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.u-main .u-contact .c-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-main .u-contact .c-check .c-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.u-main .u-contact .c-check .c-1 span {
  display: block;
}

.u-main .u-contact .c-check .square {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.u-main .u-contact .c-check .square.today {
  background-color: #141414;
}

.u-main .u-contact .c-check .square.off {
  background-color: #ae7a26;
}

.u-main .u-contact #calendar {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.u-main .u-contact table {
  border-collapse: collapse;
  width: 100%;
}

.u-main .u-contact th {
  color: #000;
}

.u-main .u-contact th,
.u-main .u-contact td {
  border: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.u-main .u-contact td:first-child {
  color: red;
}

.u-main .u-contact td:last-child {
  color: blue;
}

.u-main .u-contact td.disabled {
  color: #ccc;
}

.u-main .u-contact td.today {
  background-color: #232321;
  color: #fff;
}

.u-main .u-contact #next-prev-button {
  position: relative;
}

.u-main .u-contact #next-prev-button button {
  cursor: pointer;
  color: #141414;
  border: 1px solid #141414;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.u-main .u-contact #prev {
  float: left;
}

.u-main .u-contact #next {
  float: right;
}

.u-main .u-contact tr:nth-child(3) td:nth-child(3) {
  background-color: #ae7a26;
  color: #fff;
}

.u-main .u-contact .c-attention {
  font-size: 14px;
}

/*======================
  フッター
  =======================*/
.u-footer {
  background-color: #fff;
}

.u-footer a {
  color: #141414 !important;
}

.u-footer .copyright {
  color: #141414;
}
/*# sourceMappingURL=under.css.map */